.input-card {
    background-color: var(--input-bg-color);
    width: 100%;
    min-width: 235px;
    height: 56px;
    max-height: 56px !important;
    display: flex;
    flex-direction: row;
}

.main-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    flex: 1;
    padding-left: 16px;
    padding-right: 10px;
}

.input-card label {
    color: var(--label-color);
    font-size: 12px;
    font-weight: 400;
}

.input-card input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--place-holder-color);
    font-size: 18px;
    font-weight: 400;
    height: 16px;
    margin-top: 4px;
}

.input-card input::placeholder {
    font-size: 16px;
    font-weight: 400;
}

.input-icon {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}