.box {
	align-items: center;
	background-color: var(--box-bg-color);
	border-radius: 28px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 40px;
	padding-left: 40px;
	min-height: 543px;
	padding-bottom: 76px;
	width: fit-content;
	height: fit-content;
	margin: auto;
}
