.box-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.box-header__right-icon,
.box-header__left-icon {
	align-items: center;
	cursor: pointer;
	display: flex;
	padding: 1rem;
}

.box-header__heading {
	align-items: center;
	display: flex;
}

.box-header__heading-text {
	font-size: 24px;
	margin-right: 1rem;
}
